body {
    background-image: url(b_kepek/csabi.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 20px auto;
    background-color: #feffbf;
    border: 1px solid #333;
}

.profile-header {
    background-color: #feffbf;
    padding: 10px;
    border-bottom: 1px solid #444;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    color: #9a1b1b;
    text-shadow: 0 0 5px rgb(208, 65, 65);
}

.profile-image {
    float: left;
    margin-right: 15px;
    border: 3px solid #9a1b1b;
}

.profile-image img {
    width: 150px;
    height: 150px;
}

.profile-info {
    overflow: hidden;
}

.profile-info p {
    margin: 5px 0;
    color: #000000;
}

.profile-info strong {
    color: rgb(10, 118, 172);
}

.profile-nav {
    background-color: #feffbf;
    padding: 5px;
    border-bottom: 1px solid #feffbf;
}

.profile-nav a {
    color: #9a1b1b;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.profile-nav a:hover {
    text-decoration: underline;
}

.profile-content {
    padding: 15px;
    display: flex;
}

.left-column {
    width: 650px;
    margin-right: 15px;
}



.module-title {
    color: #9a1b1b;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid #9a1b1b;
    padding-bottom: 3px;
}

.friends-list {
    display: flex;
    flex-wrap: wrap;
}

.friend {
    width: 50px;
    height: 50px;
    margin: 0 5px 5px 0;
    border: 1px solid #9a1b1b;
}

.friend img {
    width: 100%;
    height: 100%;
}

.comment {
    margin-bottom: 15px;
    border-bottom: 1px dashed #9a1b1b;
    padding-bottom: 10px;
}

.comment-user {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.comment-date {
    font-size: 11px;
    color: #000000;
}

.comment-body {
    margin-top: 5px;
    color: #000000;
}

.blurb {
    color: #000000;
    line-height: 1.5;
}

.profile-footer {
    background-color: #9a1b1b;
    padding: 10px;
    text-align: center;
    font-size: 11px;
    color: #000000;
    border-top: 1px solid #000000;
}


.status {
    color: rgb(0, 0, 0);
    font-style: italic;
    margin-bottom: 10px;
}